.ant-carousel .slick-dots {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  padding: 1% !important;
  margin-top: 1% !important;
  position: relative !important;
}
.custom-shape-divider-bottom-1621548384 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1621548384 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 208px;
}

.custom-shape-divider-bottom-1621548384 .shape-fill {
  fill: #553ab8;
}

.topAvis {
  font-family: Rasa;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: white;
  text-align: center;
}

.allAvis {
  font-family: Rasa;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: white;
  text-align: center;
  padding:2%;
}
.carousel-indicators{
  position:inherit !important;
}
