@font-face {
  font-family: 'Raleway-bold';
  src: local('Raleway-bold'), url('./fonts/Raleway-Bold.ttf') format('ttf');
}

#design {
  width: 50vw;
  height: auto;
  margin: 0;
}

.container-design {
  background-color: #326dc9;
}

.title-contact {
  text-align: center;
  padding: 60px 0 30px;
  font-size: 2em;
  font-family: 'Raleway-bold', Arial, serif;
}
