.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.logoFooter {
  height: auto;
  max-width: 80%;
  vertical-align: middle;
  border-style: none;
}

.footer-area {
  background-color: rgba(14, 14, 14, 0.899);
}
.footer-itemss {
  text-align: center;
}
ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#textbottom {
  color: white;
}
.copyright-area {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.copyright-left,
.copyright-right {
  color: white;
}

.copyright-name {
  padding: 3px;
}

.footer-itemss > ul > li > a {
  color: white;
}

.titlefooter {
  color: white;
}
.social-icons svg {
  display: block;
  height: 100%;
  line-height: 45px;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social-icons > a {
  margin: 5px;
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.footer-top {
  padding: 0px;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.footer-area .social-icons > a {
  width: 40px;
  height: 40px;
  font-size: 18px;
}
.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}
.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}

.social-icons > a.facebook {
  background-color: #3b5999 !important;
}
.social-icons > a.twitter {
  background-color: #55acee !important;
}
.social-icons > a.google-plus {
  background-color: #dd4b39 !important;
}
.social-icons > a.vine {
  background-color: #00b489 !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.fa-twitter:before {
  content: '\f099';
}
.fa-vine:before {
  content: '\f1ca';
}
